<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Recipe Home</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
<link rel="stylesheet" crossorigin="anonymous" th:href="@{/webjars/font-awesome/5.2.0/css/all.min.css}">
</head>
<body>
	<!--/*@thymesVar id="recipes" type="java.util.List"*/-->
	<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
	<nav class="navbar navbar-dark bg-secondary">
		<span class="navbar-brand mb-0 h1 text-white">My Recipes</span>
	</nav>
	<div class="container">
		<div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
			<table class="table table-hover ">
				<thead class="thead-inverse">
					<tr>
						<th>ID</th>
						<th>Description</th>
						<th>View</th>
						<th>Update</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tr th:each="recipe : ${recipes}">
					<td th:text="${recipe.id}"></td>
					<td th:text="${recipe.description}"></td>
					<td><a class= "btn btn-primary" href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">View</a></td>
					<td><a class= "btn btn-primary" href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">Update</a></td>
					<td><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}"><i class="fas fa-trash text-dark"></i></a></td>
				</tr>
			</table>
		</div>
	</div>
	<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>